.custom-input {
    width: 100%;
}

.custom-input {
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset; /* força fundo */
        -webkit-text-fill-color: #000; /* cor do texto */
        transition: background-color 5000s ease-in-out 0s; /* hack de longo prazo */
    }
}
