.questionarios-page {
    [aria-label='filters'] {
        margin-bottom: 1rem !important;
    }

    [aria-label='cards'] {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        div {
            grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
            align-items: stretch;
        }
    }
}
