layout-container {
    [aria-disabled='true'] {
        display: none !important;
    }
}

/* Sidebar */
.sidebar {
    width: 20rem;
    max-height: 100vh;
    border-right: 1px #ddd;
    background: #f8f9fa;
    position: sticky;
    top: 0;
    left: 0;
    transition:
        transform 0.3s ease-in-out,
        width 0.3s ease-in-out,
        padding 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.sidebar.closed {
    width: 5rem;
    padding: 0;
    border-right: none;
}

/* Main Content */
.main-content {
    flex: 1;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
    background-color: #f4f6f9;
    padding: 1rem;
}

/* Layout container */
.layout-container {
    background: linear-gradient(to right, #fcb043, #e8433b);
    display: flex;
    position: relative;
    min-height: 100vh;
    padding: 0.5rem;
    gap: 0.5rem;
    overflow: hidden;
}

.layout-container-right {

    flex: 1;
    border-radius: 20px !important;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    border-radius: 0.5rem;
    height: 100%;
}

/* Page Name Header */
.page-name-header {
    border-bottom: 1px solid #e5e7eb;
    width: 100%;
}

.page-name-header h1 {
    text-indent: 1.5rem;
    height: 60px;
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: 600;
    color: #1f2937;
}

* {
    overscroll-behavior: none;
}