.weconecta-logo {
    background-color: white;
}

.weconecta-sidebar-header {
    background-color: white;
}

.weconecta-sidebar-content {
    background-color: white;
}

.weconecta-sidebar-text {
    color: #4d4d4d
}

.weconecta-sidebar-link {
    display: flex;
    align-items: center;
    padding: 10px 24px;
    gap: 12px;
    text-decoration: none;
    color: inherit;
}

.weconecta-sidebar-menu-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-left: 6px;
}

.weconecta-sidebar-menu-item {
    margin-bottom: 12px;
}

/*
Sidebar Footer
*/

.weconecta-sidebar-footer {
    position: relative;
    background-color: white;
    padding: 20px 0;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}

.weconecta-sidebar-footer::before,
.weconecta-sidebar-footer::after {
    content: "";
    position: absolute;
    left: 12px;
    right: 12px;
    height: 1px;
    background-color: #e0e0e0;
}

.weconecta-sidebar-footer::before {
    top: 0;
}

.weconecta-sidebar-footer::after {
    bottom: 0;
}

.weconecta-sidebar-user {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 8px;

}

.weconecta-sidebar-user-avatar {
    width: 36px;
    height: 36px;
    margin-left: 24px;
    color: black;
}

.weconecta-sidebar-user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px;
    text-align: left;
}

.weconecta-sidebar-user-name {
    font-weight: 600;
    font-size: 15px;
    margin-left: 8px;
    color: black;
}

.weconecta-sidebar-user-email {
    font-size: 13px;
    margin-left: 8px;
    color: #6b6b6b;
}