.weconecta-logo {
    background-color: orange
}

.weconecta-sidebar-content {
    background-color: white;
}

.weconecta-sidebar-footer {
    background-color: white;
}

.weconecta-sidebar-text {
    color: #4d4d4d
}